/* Universal styles */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: White;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

p {
  color: Black;
}

/* Header section */

.company-logo {
  background-color: Black;
  display: flex;
  align-items: center;
}

.company-logo .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.company-logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-style: none;
}

/* Banner section */

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  background-color: Black;
  width: 20rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* Navigation bar section */

.nav-bar {
  background-color: FireBrick;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.menu {
  display: none;
}

/* Products section */

.products {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 30%;
  border: 4px solid Black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  height: 9rem;
  width: 9rem;
  padding: 2rem 0;
}

.product span {
  background-color: Black;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

/* Info section */

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.additional-info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.additional-info span {
  background-color: Black;
  padding: 1rem 2rem;
}

/* Footer section */

footer {
  background-color: Black;
  height: 5rem;
  display: flex;
  align-items: center;
}

footer span {
  text-align: left;
}

/* ------------------------------ Media Query ------------------------------ */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  /* Navigation bar section */

  .menu {
    display: block;
    margin: 0 auto;
  }

  #nav-link {
    display: none;
  }

  /* Products section */

  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }

  /* Info section */

  .additional-info {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  /* Banner section */

  .banner {
    height: 15rem;
    display: flex;
    align-items: flex-end;
  }

  .caption {
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.77rem;
  }

  /* Products section */
  .watch {
    display: none;
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .product {
    width: 90%;
  }

  /* Info section */

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-info {
    width: 90%;
  }

  .location {
    margin-bottom: 0.5rem;
  }

  /* Footer section */

  footer {
    text-align: center;
  }
}
